<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IRAPContext" connectionString="Data Source=192.168.57.13;Initial Catalog=IRAP;UID=sa;PWD=irap!209420" providerName="System.Data.SqlClient" />
    <add name="IRAPMDMContext" connectionString="Data Source=192.168.57.13;Initial Catalog=IRAPMDM;UID=sa;PWD=irap!209420" providerName="System.Data.SqlClient" />
    <add name="IRAPSqlDBContext" connectionString="Data Source=192.168.57.13;Initial Catalog=yunhuatech;UID=sa;PWD=irap!209420" providerName="System.Data.SqlClient" />
    <add name="IRAPMyDBContext" connectionString="Server=192.168.57.216;Database=bcdpa; User=irap;Password=irap" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SeqServerAddr" value="192.168.57.217" />
    <!-- DBType: 1-SQLServer 2-Oracle 3-MySQL -->
    <add key="DBType" value="1" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.15.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--记载日志2019-06-21 -->
  <nlog autoReload="true" throwExceptions="true">
    <targets>
      <target name="file" type="File" encoding="utf-8" layout="${longdate}=&gt;${logger}|${message}" fileName="${basedir}/log/${shortdate}_${level}.log" />
      <target name="console" type="ColoredConsole" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" useDefaultRowHighlightingRules="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  
</configuration>
